.App {
    box-shadow: 0 6px 50px var(--box-shadow);
    position: relative;
    border-radius: 20px;
    padding: 12px;
    max-width: 600px;
    width: 100%;
    height: 90vh;
    display: flex;
    gap: 10px;
    background-color: var(--color-1);
    flex-direction: column;
}

.settingsBox__themeChangeButton i {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-3);
    border-radius: 100%;
}



.settingsBox__themeChangeButton.theme_open button._black {
    left: -100%;
    background: linear-gradient(90deg, rgb(70, 70, 70) 50%, black 50%);
    transition: 300ms;
}

.settingsBox__themeChangeButton.theme_open button._blueBlack {
    left: -210%;
    background: linear-gradient(90deg, #00a9bf 50%, rgb(63, 63, 63) 50%);
    transition: 400ms;
}

.settingsBox__themeChangeButton.theme_open button._grey {
    left: -320%;
    background: linear-gradient(90deg, #9f9f9f 50%, #525252 50%);
    transition: 500ms;
}

.settingsBox__themeChangeButton.theme_open button._purple {
    left: -430%;
    background: linear-gradient(90deg, #955075 50%, #60253f 50%);
    transition: 600ms;
}



.settingsBox__themeChangeButton button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 600ms;
    width: 32px;
    background: rgba(0, 0, 0, 0.3);
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.App>* {
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    color: var(--h1-color);
}

.App__control-center {
    display: flex;
    width: 100%;
}

.App__control-center button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: var(--color-2);
    border-radius: 0 20px 20px 0;
}

.App__control-center input {
    border: 1px solid var(--color-2);
    padding-left: 12px;
    font-size: 1em;
    flex-grow: 1;
    transition: 400ms;
    border-radius: 20px 0 0 20px;
    background-color: var(--color-0);
}

i {
    color: var(--text-color);
}

.App__control-center input:focus-visible {
    outline: 0;
    background-color: var(--text-color);
}

.App__task-list {
    padding: 10px 12px;
    background: transparent;
    border-bottom: 1px dotted var(--text-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    overflow-y: auto;
}

.task-item {
    background-color: var(--color-2);
    border-radius: 16px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.task-item input {
    background-color: var(--color-2);
    border: 0;
    font-size: 16px;
    text-align: center;
    color: var(--text-color);
}

.task-item button {
    width: 24px;
    cursor: pointer;
    height: 24px;
    background: 0;
    border-radius: 50%;
}

.task-item button.rename {
    border: 0;
    font-size: 1.4em;
}

.task-item button.check {
    border: 2px solid var(--text-color);
}

.task-item button.close {
    border: 0;
    font-size: 1.4em;
}

i {
    pointer-events: none;
}

.fa-check {
    opacity: 0;
    transition: 0.4s;
}

.fa-check:active {
    opacity: 1;
}


.task-item p {
    text-align: center;
    flex-grow: 1;
    color: var(--text-color);
}

.App__task-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.App__task-list::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.App__task-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, var(--color-2)),
            color-stop(0.72, var(--color-3)),
            color-stop(0.86, var(--color-4)));
}

.task_complete {
    opacity: 0.5;
}

.task_complete i.fa-check {
    opacity: 1;
}

.App__settingsBox {
    right: 20px;
    bottom: 30px;
    position: absolute;
}

.settingsBox__button {
    transition: all 0.7s cubic-bezier(0.92, -0.49, 0.7, 1.65);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    border: 0px;
    background-color: var(--color-4);
    font-size: 20px;
    color: var(--text-color);
    z-index: 15;
}

.themeChangeButton_open .childButton {
    top: -80% !important
}

.themeChangeButton_open .settingsBox__button {
    transform: scale(110%);
}

.settingsBox__themeChangeButton {
    padding: 0;
    position: absolute;
    z-index: 12;
    background-color: var(--color-3);
    border-radius: 100%;
    color: var(--text-color);
    width: 36px;
    height: 36px;
    font-size: 15px;
    border: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s cubic-bezier(0.92, -0.49, 0.7, 1.65);
}

.wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--wrapper-color);
    z-index: 250000;
    top: 0;
    left: 0;
    display: flex;
    transition: 400ms;
    justify-content: center;
    align-items: center;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.renameBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-1);
    padding: 32px;
    width: 90%;
    border-radius: 20px;
    max-width: 320px;
}

.renameBlock h3{
    color: var(--text-color);
    margin: 0;
}

.renameBlock input{
    width: 100%;
    height: 3.2vh;
    max-height: 40px;
    color: var(--text-color);
    border: var(--color-4) 2px solid;
    background-color: var(--color-3);
    border-radius: 6px;
}

.renameBlock button{
    width: 100%;
    height: 3.2vh;
    max-height: 40px;
    color: var(--text-color);
    border: var(--color-4) 2px solid;
    background-color: var(--color-3);
    border-radius: 6px;
}