#root {
    padding: 0 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



._black {
    --color-0: #101010;
    --color-1: #1a1a1a;
    --color-2: #262626;
    --color-3: #3a3a3a;
    --color-4: #4a4a4a;
    --box-shadow: rgba(196, 196, 196, 0.142);
    --h1-color: rgb(194, 194, 194);
    --text-color: rgb(194, 194, 194);
    --background-color: black;
    --wrapper-color: rgba(0, 0, 0, 0.628);
}

._blueBlack {
    --color-0: #a9d3ef;
    --color-1: #85c1e9;
    --color-2: #00a9bf;
    --color-3: #3498db;
    --color-4: #2980b9;
    --text-color: white;
    --box-shadow: #00a9bf70;
    --h1-color: black;
    --background-color: black;
    --wrapper-color: rgba(0, 0, 0, 0.628);
}

._purple {
    --color-0: #1a1012;
    --color-1: #3f1829;
    --color-2: #622c4d;
    --color-3: #955075;
    --color-4: #bb4ee3;
    --text-color: white;
    --box-shadow: #622c4da3;
    --h1-color: white;
    --background-color: black;
    --wrapper-color: #321321bb;
}

._grey {
    --color-0: #9f9f9f;
    --color-1: #7b7b7b;
    --color-2: #525252;
    --color-3: #383838;
    --color-4: #222222;
    --text-color: white;
    --box-shadow: rgba(196, 196, 196, 0.329);
    --h1-color: black;
    --background-color: black;
    --wrapper-color: rgba(32, 32, 32, 0.628);
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

* {
    box-sizing: border-box;
}